body{
    background-image: url("wallpaper.jpg");
    background-size: auto;
    overflow-x: hidden;
    color: wheat;

}
.FirstDiv{
    max-width: 100%; 
    overflow-x: hidden;
}
.img1{
    max-width: 100%;
    overflow-x: hidden;
} 

.curri{
    max-width: 100%;
}

}
.centertext{
    text-align: center;
  
}
.space{

    min-height: 200px;
    text-align: center;
    overflow-x: hidden;
}
.maps{
    border-style: groove;
    overflow-x: hidden;
}
